.written_board{
    width:950px;
    margin:auto;
    margin-top:145px;
    position: relative;
}
.board_title, .time{
    display:inline-block;
    margin:0;
    margin-bottom:20px;
}
.time{
    position: absolute;
    right:0;
    top:20px;
    color:#f5f5f5;
    font-weight: normal;
}
hr{
    margin:0;
    border-color:#000000;
    margin-bottom:60px;
}
.board-img{
    width:400px;
    height:300px;
    display: block; 
    margin: 0px auto; 
}
.des{
    background-color:#f5f5f5;
    height:200px;
    padding:20px;
    border-radius: 30px;
    text-align: center;
    width:500px;
    display: block; 
    margin: 0px auto; 
    margin-top:50px;
    margin-bottom:50px;
}
.btn-con{
    display: flex;
    justify-content: space-around;
}
.go_board{
    width:180px;
    height:100px;
    background-color: #b4d2dd;
    /* margin-top:165px;
    /* margin-bottom:135px; */ */
    border-radius: 50px;
    border:none;
    font-weight: bold;
    font-size:24px;
    flex:1;
    text-align: center;
    cursor: pointer;
}

.btn-delete{
    width:180px;
    height:100px;
    background-color: #b4d2dd;
    /* margin-top:165px;
    margin-bottom:135px; */
    border-radius: 50px;
    border:none;
    font-weight: bold;
    font-size:24px;
    cursor: pointer;
    flex:3;
    text-align: center;
}

.btn-update{
    width:180px;
    height:100px;
    background-color: #b4d2dd;
    /* margin-top:165px;
    margin-bottom:135px; */
    border-radius: 50px;
    border:none;
    font-weight: bold;
    font-size:24px;
    cursor: pointer;
    flex:1;
}

