.board_container{
    width:980px;
    margin:auto;
    margin-top:145px;
    position: relative;
}
.title_board{
    font-weight: bold;
    border-bottom:1px solid black;
    padding-bottom:20px;
    margin-bottom:160px;
    font-size:30px;
}
.show-form{
    width:100px;
}
.table_list{
    border-top: 1px solid #444444;
    border-collapse: collapse;
    margin-bottom:70px;
}
.button{
    position: absolute;
    right:0;
    top:72px;
}
input{
    height:80px;
    display:inline-block;
    border:0;
    background-color:rgb(245, 245, 245);
    border-radius: 50px;
    font-size:18px;
}
::placeholder{
    padding-left:40px;
}
.cate{
    width:180px;
}
.search{
    width: 380px;
}
td, th{
    border-bottom: 1px solid #444444;
    padding: 32px;
    text-align:center;
    width:300px;
}
hr{
    border: 1px solid black;
}
a{
    text-decoration: none;
    color:black;
}
.create{
    position: absolute;
    right:0;
    width:180px;
    height:80px;
    font-size:18px;
    font-weight: bold;
    border-radius: 50px;
    background-color:#b4d2dd;
    border:none;
}
.create:hover{
    cursor: pointer;
}

.b-title{
    background:none;
    cursor: pointer;
}