@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.signUp_form{
    margin:auto;
    margin-top:140px;
    font-family: "Noto Sans KR", sans-serif !important;
    margin-bottom:160px;
}
table{
   width:580px;
}
.text{
    font-size: 24px;
    font-weight: normal;
}
input{
    width:580px;
    height:100px;
    font-size:18px;
    font-weight: lighter;
    display:inline-block;
    border:0;
    background-color:rgb(245, 245, 245);
    border-radius: 50px;
}
.yymmdd{
    font-size:18px;
    width:180px;
    height:100px;
}
.mar{
    margin-left:10px;
    margin-right:10px;
}
.mar2{
    margin-right:10px;
}
.email{
    width:280px;
}
select{
    font-size:18px;
    font-weight: lighter;
    background: url('img/arrow.png') no-repeat 95% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
    -webkit-appearance: none; 
    -moz-appearance: none;
    height:100px;
    display:inline-block;
    border:0;
    border-radius: 50px;
    background-color:rgb(245, 245, 245);
}
select, ::placeholder{
    padding-left:40px;
    color:#bbbbbb;
}
img{
    width:20px;
    height:20px;
}
.button_submit{
    width:580px;
    height:100px;
    font-size:24px;
    display:inline-block;
    border:0;
    background-color:#b4d2dd;
    border-radius: 50px;
    line-height: 100px;
    margin-top:61px;
    font-weight: bold;
}
.button_submit:hover{
    cursor: pointer;
}
/* .check_id{
    position: absolute;
    left:72%;
    top:16.2%;
    width:80px;
    height:40px;
    cursor: pointer;
    border:1px solid rgb(93, 56, 8);
    background-color:white;
} */