.js-toDoForm{
    text-align: center;
    margin-top:150px;
}

.btn-delete{
    border-radius: 10px;
    background-color: #b4d2dd;
    color:black;
    border:none;
    padding:15px;
}

table{
    margin:0;
}

tr{
    display:flex;
    justify-content: space-around;
}

.contents{
    font-size: 30px;
    font-weight: bold;
}