.js-toDoForm{
    text-align: center;
    margin-top:150px;
    margin-bottom: 50px;
}

.btn-delete{
    border-radius: 10px;
    background-color: #b4d2dd;
    color:black;
    border:none;
    padding:15px;
}

.input-todo{
    width:400px;
    height:40px;
    padding-left:10px;
    border:1px solid rgb(163, 163, 163);
    border-radius: 4px;
}

table{
    margin:auto;
    width:500px;
}

tr{
    display:flex;
    justify-content: space-around;
    padding:20px;
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
}

.contents{
    font-size: 30px;
    font-weight: bold;
}