/* fieldset{
    position:absolute;
    top:25%; left:50%;
    transform: translate(-50%, -50%);
    width:600px;
}
.main_title{
    text-align:center;
} */
.js-toDoForm{
    text-align: center;
    margin-top:150px;
}