.f_container{
    height:100px;
    background-color: #f5f5f5;
    display:table;
    width:100%;
    bottom:0px;
    position: fixed;
    font-size:15px;
}
.copy{
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}
.br{
    margin-bottom:10px;
    height:0;
}