@font-face { 
    font-family: 'MapoDPPA'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDPPA.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
.form{
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
}
table{
    /* padding-top:10px; */
}
td{
    padding:18px;
}
input{
    width:480px;
    height:40px;
    font-size:15px;
    display:inline-block;
    border:0;
    border-bottom: 1px solid lightgray;
}
.title_sign{
    font-family: 'MapoDPPA'; 
    font-weight: lighter;
}
fieldset{
    padding:20px;
    width:600px;
    height:300px;
    border: 1px solid burlywood;
}
::placeholder{
    color:black;
    padding-left:10px;
}
.button_submit{
    font-family: 'MapoDPPA'; 
    display:inline-block;
    margin-top:40px;
    width:130px;
    height:60px;
    border: 1px solid burlywood;
    background-color:white;
    color:black;
    margin-left:0;
}
.button_submit:hover{
    display:inline-block;
    cursor: pointer;
    margin-top:40px;
    width:130px;
    background-color: darkolivegreen;
    color:white;
}