body {
    background-color:whitesmoke;
    font-family: Consolas, monospace;
    font-family: 12px;
}
@font-face { 
    font-family: 'Eoe_Zno_B'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_B.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
.table_list{
    width:1500px;
    position:absolute;
    top:20%; left:50%;
    transform: translate(-50%, -50%);
}
th, td {
    padding: 10px;
    border-bottom: 1px solid gray;
    text-align:center;
    width:200px;
}
.table_list{
    margin-top:30px;
}
a{
    text-decoration: none;
    color:black;
}